.alerts-tablo {
    position: relative;
    height: inherit;
    background-color: #c00;
    flex-grow: 1;
    box-sizing: border-box;
    border: 0px none #900;
}

.alerts-tablo-shutter {
    position: absolute;
    left: -0px;
    top: -0px;
    height: inherit;
    width: calc(0px);
    border-style: none;
    box-sizing: border-box;
    background-color: #f30;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: tablo-shutter-move;
}

@keyframes tablo-shutter-move {
    0% {width: 0%; }
    15% {width: 0%; }
    100% {width: 100%; }
}

.alerts-table-message {
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
    background-color: none;
    text-shadow: 1px 1px 3px black;
    padding-left: 10px;
    transform: translateY(-2px);
}
