.alerts-tablo {
    position: relative;
    height: inherit;
    background-color: #c00;
    flex-grow: 1;
    box-sizing: border-box;
    border: 0px none #900;
}

.alerts-tablo-shutter {
    position: absolute;
    left: -0px;
    top: -0px;
    height: inherit;
    width: calc(100% + 0px);
    border-radius: 2px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    background-image:
      repeating-linear-gradient(45deg, #7b98 12px, #0756 25px, #4887 35px),
      repeating-linear-gradient(135deg, #fff 7px, #000 35px);
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: none;
}

@keyframes tablo-shutter-move0 {
    0% {margin-top: 0px; }
    15% { margin-top: calc(var(--notification-pane-height)); }
    85% { margin-top: calc(var(--notification-pane-height)); }
    100% {margin-top: 0px; }
}

@keyframes tablo-shutter-move1 {
    0% {margin-top: 0px; }
    15% { margin-top: calc(var(--notification-pane-height)); }
    85% { margin-top: calc(var(--notification-pane-height)); }
    100% {margin-top: 0px; }
}

.alerts-table-message {
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 1px 1px 3px black;
    padding-left: 10px;
    transform: translateY(-2px);
}
