.alerts-tablo {
    position: relative;
    height: inherit;
    background-color: #c00;
    flex-grow: 1;
    box-sizing: border-box;
    border: 3px ridge #900;
}

.alerts-tablo-shutter {
    position: absolute;
    left: -2px;
    top: -2px;
    height: inherit;
    width: calc(100% + 4px);
    border-radius: 2px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    background-image:
      repeating-linear-gradient(to right, #7b98 12px, #0756 25px, #4887 35px),
      repeating-linear-gradient(to bottom, #fff 7px, #000 15px);
    animation: 4s linear 9s infinite normal tablo-shutter-move;
}

@keyframes tablo-shutter-move {
    0% {margin-top: 0px; }
    15% { margin-top: calc(var(--notification-pane-height)); }
    85% { margin-top: calc(var(--notification-pane-height)); }
    100% {margin-top: 0px; }
}

.alerts-table-message {
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 1px 1px 3px black;
    padding-left: 10px;
    transform: translateY(-6px);
}
