:root {
  --alerts-dropdown-container-width: 400px;
  --alerts-dropdown-container-height: 200px;
}

.alerts-dropdown {
    position: relative;
    width: calc(var(--notification-pane-height));
    height: calc(var(--notification-pane-height));
    margin-left: 2px;
    margin-top: 1px;
    margin-right: 1px;
}

.alerts-dropdown-button {
    position: absolute;
    width: calc(var(--notification-pane-height) - 2px);
    height: calc(var(--notification-pane-height) - 2px);
    background-image:
      linear-gradient(145deg, #f779, #f669 30%, #c009),
      linear-gradient(145deg, #f87, #eee 20%, #000);
    border-radius: 8px;
    border: 1px solid black;
    box-sizing: border-box;
}

.alerts-dropdown-button:active {
    background-image:
      linear-gradient(145deg, #c009, #f669 75%, #f779),
      linear-gradient(145deg, #000, #eee 85%, #f87);
}

.alerts-dropdown-image {
    position: absolute;
    background-image: url("../../assets/alerts-list.png");
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    top: 2px;
    left: 3px;
    pointer-events: none;
}

.alerts-dropdown-container {
    position: fixed;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
    top: min(120px, calc(100vh/2 - var(--alerts-dropdown-container-height)/2));
    left: calc(100vw/2 - var(--alerts-dropdown-container-width)/2);
    width: var(--alerts-dropdown-container-width);
    height: var(--alerts-dropdown-container-height);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1000;
    margin: auto;
    background-color: #c00;
}

.alerts-dropdown-header {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 32px;
    background-color: pink;
    font-size: 20px;
    font-weight: bold;
    color: #600;
    letter-spacing: 1px;
    text-align: left;
    box-sizing: border-box;
    text-shadow: 1px 1px 3px grey,
                 -1px -1px 3px white;
}

.alerts-dropdown-column-date {
    width: 80px;
    border-right: 3px groove #f998;
    padding-left: 4px;
}

.alerts-dropdown-column-time {
    width: 80px;
    padding-left: 4px;
    border-right: 3px groove #f998;
}

.alerts-dropdown-column-alert {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-grow: 1;
    padding-left: 4px;
}

.alerts-dropdown-column-alert-text {
    flex-grow: 1;
}

.alerts-dropdown-close {
    background-image: url("../../assets/close-window.png");
    background-size: 24px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-right: 4px;
}
