
.archive-page {
    position: absolute;
    box-sizing: border-box;
    padding: 16px;
    background-image: linear-gradient(to right, #bb6600 0%, #995500 30%);
    width: 100%;
    height: var(--page-height);
    z-index: 1;
}

.archive-page .display-value {
    background-image: linear-gradient(to right, #ffbbbb 0%, #cc8888 30%);
}

.archive-page .value-text {
    color: #550000;
    text-shadow: 1px 1px 30px #fff8;
}

.archive-page .number-button {
    background-image: linear-gradient(150deg, #ffff2299, #ee8800dd 30%, #442200ff);
}

.archive-page-chart-pane {
  background-color: pink;
  background-image: linear-gradient(to right, #952, #531);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  z-index: -1;
  height: 500px;
}
