:root {
    --chart-scale-button-height: 20px;
}

.chart-scale-button {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

.chart-scale-button + label {
    font-size: 12px;
    color: black;
    width: 30px;
    float: left;
    padding: .1em 1em;
    border: 1px solid #28608f;
    margin-right: -1px;
    background-image: linear-gradient(150deg, #52fbfa, #a2fbfa 30%, #52cbcb);
    user-select: none;
}

.chart-scale-buttons-group div:first-child label {
    border-bottom-left-radius: 5px;
}

.chart-scale-button:checked + label {
    background-image: linear-gradient(-210deg, #023b3a, #126b6a 30%, #427b7a);
    color: white;
}

.chart-scale-button-left {
    border-bottom-left-radius: 5px;
}

.chart-scale-buttons-group {
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: var(--chart-scale-button-height);
    z-order: 1050;
    background-color: transparent;
    top: calc(100% - var(--chart-scale-button-height));
    overflow-x: hidden;
}
