
.clock {
    display: flex;
    flex-direction: column;
    background-color: #579;
    height: 80px;
    width: 200px;
    overflow: hidden;
    text-shadow: 1px 1px 2px black;
    border-right-style: groove;
    border-right-width: 2px;
    border-right-color: lime;
}

.clock-time {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: bold;
    color: #ccf;
    margin: 0 auto;
    transform: scaleX(1.8) scaleY(1.6);
}

.clock-time div {
    margin: 0 4px;
    text-align: left;
    letter-spacing: 1px;
}

.clock-time-divider {
    min-width: 8px;
    color: yellow;
}

.clock-date {
    color: white;
    font-size: 13px;
    letter-spacing: 3px;
}
