
.clock {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #579;
    height: inherit;
    width: 200px;
    overflow: hidden;
    text-shadow: 1px 1px 2px black;
}

.clock-time {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 15px;
    font-weight: bold;
    color: #ccf;
    margin: 0 auto;
    transform: scaleX(2.5) scaleY(1.5);
}

.clock-time-value {
    text-align: left;
    letter-spacing: 1px;
}

.clock-time-divider {
    min-width: 8px;
    color: #ddf;
    text-align: center;
    transform: translateY(-1px);
}

.clock-date {
    color: white;
    font-size: 13px;
    letter-spacing: 3px;
}
