
.control-pane {
    height: 48px;
    background-image: linear-gradient(to right, #bb99bb 0%, #884444 0%);
    border-width: 2px 0px;
    border-style: groove;
    border-color: #cc88cc;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    padding: 8px 16px;
}

.control-button {
    width: 160px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    outline-style: none;
    background:
      linear-gradient(145deg, rgba(255,255,255,0.9) 0% 0%, rgba(255,255,255,0) 30% 15%),
      linear-gradient(45deg, #44000044, #00550088 40%);
    color: white;
    margin-right: 20px;
}

.selected {
    border: 1px solid #040;
    background-color: yellow;
    color: black;
}
