:root {
    --editable-combobox-arrow-width: 35px;
}

.editable-combobox {
    position: relative;
}

.editable-combobox-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    background-color: white;
    border-radius: 7px;
    border-style: none;
    outline-style: none;
}

.editable-combobox-input {
    position: relative;
    padding-left: 8px;
    padding-right: 4px;
    border-style: none;
    background-color: transparent;
    font-size: 23px;
    width: calc(100% - var(--editable-combobox-arrow-width));
    outline-style: none;
    border-width: 1px 0px 1px 1px;
    border-color: #c77;
    border-style: inset;
    border-radius: 7px 0px 0 7px;
}

.editable-combobox-button {
    position: relative;
    width: var(--editable-combobox-arrow-width);
    background-image: linear-gradient(150deg, #ccc5, #ddd 30%, #666);
    border-radius: 0 7px 7px 0;
    border-width: 1px;
    border-style: groove;
    border-color: #6668;
    box-shadow: 0px 0px 3px black;
}

.editable-combobox-button::before {
    content: "";
    position: absolute;
    width: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid black;
    height: 0px;
    left: calc(50% - 6px);
    top: calc(50% - 5px);
}


.editable-combobox-select-container {
    overflow-y: scroll;
    max-height: 320px;
    min-height: 40px;
    width: 200px;
    padding: 0px;
    position: absolute;
    visibility: hidden;
    margin: 0px;
    height: fit-content;
    border: 1px solid #333;
    background-color: #fff;
    list-style-type: none;
    display: block;
    top: 36px;
    user-select: none;
    z-index: 5;
}

.editable-combobox-select-container:focus {
    outline:none;
}

.editable-combobox-select-option {
    display: none;
    height: 40px;
    display: flex;
    padding-left: 10px;
    font-size: 21px;
    font-weight: normal;
    align-items: center;
    color: black;
    background-color: white;
}

.editable-combobox-select-option:hover {
    background-color: blue;
    color: white;
}
