:root {
    --editable-combobox-arrow-width: 35px;
}

.editable-combobox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    background-color: white;
    border-radius: 7px;
    border-style: none;
    outline-style: none;
}

.editable-combobox-input {
    padding-left: 8px;
    padding-right: 4px;
    border-style: none;
    background-color: transparent;
    font-size: 23px;
    width: calc(100% - var(--editable-combobox-arrow-width));
    outline-style: none;
    border-width: 1px 0px 1px 1px;
    border-color: #c77;
    border-style: inset;
    border-radius: 7px 0px 0 7px;
}

.editable-combobox-button {
    position: relative;
    width: var(--editable-combobox-arrow-width);
    background-image: linear-gradient(150deg, #ccc5, #ddd 30%, #666);
    border-radius: 0 7px 7px 0;
    border-width: 1px;
    border-style: groove;
    border-color: #6668;
    box-shadow: 0px 0px 3px black;
}

.editable-combobox-button::before {
    content: "";
    position: absolute;
    width: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid black;
    height: 0px;
    left: calc(50% - 6px);
    top: calc(50% - 5px);
}
