.markup-page {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
    background-image: linear-gradient(to right, #66bbff 0%, #0049aa 30%);
    width: 100%;
    height: var(--page-height);
    z-index: 1;
}

.markup-page-chart-pane {
    position: relative;
    background-image: linear-gradient(to right, #259, #135);
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    z-index: -1;
    height: 400px;
}

.markup-page-data-pane {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 60px;
    grid-template-columns: 1fr 300px;
    overflow: hidden;
}

.markup-page-chart-root-pane {
    width: 100%;
}

.markup-page-table-pane {
    width: inherit;
    background-color: yellow;
}
