:root {
    --notification-pane-height: 40px;
}
.notification-pane {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    height: var(--notification-pane-height);
    border-bottom: 1px solid darkred;
    background-color: #f79;
}

.notiication-horizontal-divider {
    background-image: linear-gradient(to right, #358, #135 20%, #f56);
    min-width: 12px;
}
