
.rt-charts-page {
    position: absolute;
    box-sizing: border-box;
    padding: 16px;
    background-image: linear-gradient(to right, #bb9 0%, #484 30%);
    width: 100%;
    height: var(--page-height);
    z-index: 1;
}

.rt-charts-page-chart-pane {
    background-color: pink;
    background-image: linear-gradient(to right, #055, #077);
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    z-index: -1;
    height: 500px;
}
