
.rt-values-page {
    position: absolute;
    width: 100%;
    height: var(--page-height);
    background-color: #333;
}

.rt-values-pane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 1px;
  border-style: solid;
  border-color: black;
  height: 600px;
  width: 800px;
  background: #285;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 21px;
  box-shadow: 5px 5px 15px black;
}
