.ValuePaneItem {
    display: flex;
    align-items: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8px;
    font-size: 32px;
    font-weight: bold;
    color: #020;
    text-shadow:
      2px 2px 23px #fff,
      -2px -2px 23px #fff;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-right: 8px;
    padding-left: 12px;
}

.ValuePane {
    display: flex;
    flex-wrap: nowrap;
    overflow:hidden;
    border-radius: 17px;
    border-color: #030;
    border-style: double;
    border-width: 3px;
    height: 56px;
    background-color: #6c6;
    position: relative;
    padding: 5px 0;
    justify-content: flex-end;
}

.ValuePane .Caption {
    flex-grow: 1;
}

.ValuePane .Value {
    width: 160px;
    border-width: 12x;
    border-style: ridge;
    border-color: #0e0;
    background-color: #040;
    border-radius: 5px;
    justify-content: flex-end;
    text-shadow: 0px 0px 8px black;
    margin-bottom: 0px;
    padding-bottom: 2px;
    color: white;
}

.ValuePane .Units {
    width: 80px;
}
