:root {
    --page-height: 700px;
    --page-padding: 16px;
}

.App {
    text-align: center;
}

.front-page {
    z-index: 100;
}

.back-page {
    z-index: -100;
}

.hidden {
    visibility: hidden;
}
